*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    
}
.fundo{
    background-image: linear-gradient(45deg,black,crimson);
    height: 100vh;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.calculadora{
    position: absolute;
    background-color: black;
    top: 30%;
    right: 41%;
    border-radius: 15px;
    padding: 15px;
}
.botao{
    width: 50px;
    height: 50px;
    font-size: 25px;
    margin: 3px;
    cursor: pointer;
    background-color: rgb(31,31,31);
    border: none;
    color: white;
}
.botao:hover{
    background-color: black;
}
#resultado{
    width: 207px;
    background-color: white;
    height: 30px;
    margin: 5px;
    font-size: 25px;
    color: black;
    text-align: right;
    padding: 5px;
}